@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 760px;
    background-image:
    url('https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-2-calculadora-certa.png');
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    padding: 20px;
    height: 88vh;
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
}

.calculadora {
    width: 512px;
    height: 512px;
    background-image:
    url('Pikachu.png');
    margin: 0 auto;
    position: relative;
    border-radius: 20px;
}

.chutar {
    margin-top: 5px;
    border: none;
    background-color: red;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 2em;
    text-align: center;
}

h2 {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    top: 142px;
    left: calc(50% - 72.5px);
    width: 145px;
    text-align: center;
}