* {
    outline: none;
    margin: 0;
}

header {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #167BF7;
    position: relative;
    justify-content: space-around;
}

.logo-alura {
    position: relative;
    top: 3px;;
}

.imersaoDev-logo {
    display: block;
    height: 100%;
    margin: auto;
}

.home {
    background-color: #40C4FF;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    width: 110px;
    height: 42px;
    position: relative;
    top: 3px;
    cursor: pointer;
}

.dropdown {
    top: 3px;
    position: relative;
    display: inline-block;
    width: 110px;
}

.dropbtn {
    background-color: #40C4FF;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}