@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300&display=swap');

body {
    background-color: #233E6E;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'Bebas Neue', cursive;
    color: white;
}

h2 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    margin-top: 1em;
    color: white;
}

.ulSuperior {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin: 2% auto 0;
    padding: 0;
    font-weight: bold;
    font-size: 1.2em;
}

li {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
    width: 25%;
    height: 250px;
    box-sizing: border-box;
    text-align: center;
    color: black;
    margin: 0 2%;
    border-radius: 20px;
    position: relative;
    margin-top: 0.5em;
}


.dolar {
    background-image: url(https://conteudo.imguol.com.br/c/noticias/6c/2018/11/13/dolar-dolar-cambio-real-estados-unidos-bolsa-de-valores-mercado-bovespa-ibovespa-b3-1542152549651_v2_450x450.jpg);
}

.euro {
    background-image: url(https://www.romapravoce.com/wp-content/uploads/2021/01/euro_hoje.jpg);
}

.iene {
    background-image: url(https://www.tororadar.com.br/hubfs/iene.jpg);
}

.libra {
    background-image: url(https://www.remessaonline.com.br/blog/wp-content/uploads/2019/06/tendencias-para-a-libra-esterlina.jpg);
}

.alternar {
    display: inline-block;
    position: absolute;
    top: 51%;
    right: 20%;
    cursor: pointer;
    font-size: 2em;
}

.ulInferior {
    display: flex;
    justify-content: center;
    width: 96%;
    text-align: center;
    margin: 3% auto 0;
    padding: 0;
    
}

.ulInferior .alternar {
    top: 42%;
    right: 40%;
}

.anosLuz {
    width: 100%;
    color: white;
    margin: 0;
    background-image: url(https://i.imgur.com/yMavMLb.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.info-valores {
    text-align: center;
    color: white;
    margin: 1em;
}